name: Build Plugin

on:
  push:
    branches: [ master, main ]
    paths-ignore:
      - '**/*.md'
  pull_request:
    branches: [ master, main ]
    paths-ignore:
      - '**/*.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      -
        name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.x
      -
        name: Build Jellyfin Plugin
        uses: oddstr13/jellyfin-plugin-repository-manager@v0.5.0
        id: jprm
        with:
          dotnet-target: net9.0
      -
        name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          pattern: build-artifact-*
          merge-multiple: true
          retention-days: 30
          if-no-files-found: error
          path: ${{ steps.jprm.outputs.artifact }}
